<div class="row">
  <nb-card>
    <nb-card-body>
      <table [nbTreeGrid]="source">
        <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
        <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>
        <!-- <ng-container [nbTreeGridColumnDef]="customColumn">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{customColumn}}</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">
            {{row.data[customColumn]}}
          </td>
        </ng-container> -->
        <ng-container *ngFor="let column of allColumns" [nbTreeGridColumnDef]="column">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{column}}</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column] || '-'}}</td>
        </ng-container>
        <!-- <ng-container  [nbTreeGridColumnDef]="'alert (or not)'">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>alert (or not)</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">
            <nb-icon *ngIf="row.data['alert (or not)']" icon="alert-triangle" status='warning'></nb-icon>
          </td>
        </ng-container>
        <ng-container [nbTreeGridColumnDef]="'last time of report'">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>last time of report</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data['last time of report'] || '-'}}</td>
        </ng-container> -->
      </table>
    </nb-card-body>
  </nb-card>

  <div style="display: flex; width: 100%; justify-content: center;">
    <mat-paginator [length]="total"
    [pageSize]="pageSize"
    hidePageSize="true"
    (page)="getPage($event.pageIndex+1)"></mat-paginator>
  </div>
</div>
<div class="row" style="min-height: 500px;">
  <canvas class="ion-padding"  #barChart></canvas>
</div>